html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}

body{width:100%;overflow-x:hidden;background:#f2f2f2;padding:0;margin:0;height: 100%}


/* Шапка */
.header{width:100%;top:0;height:35px;background:#0079c2;color:#fff;padding:10px 10px 10px 10px;position: fixed;z-index: 999;}
.header .user_profile img.user_avatar{width:30px;height:30px;border:2px solid #fff;border-radius:50%;float:left;}
.header .user_profile{float:right;}
.header .user_info{float:left;margin-left:10px;margin-top:-15px;}
.header .user_info a.logout{color:#fff;text-decoration:none;font-size:12px;margin-top:0;}
.header .user_info a.logout:hover{text-decoration:underline;}
.header .user_info p.user_name{margin-bottom:-3px;}

.time_block{position:fixed;right:40px;font-size:14px;    margin-top: -5px;}

.header_container {
    margin-right: 10px;
    margin-left: 10px;
    width: 90%;
}
.header_container:after {
    clear: both;
}
.header_container:before, .header_container:after {
    display: table;
    line-height: 0;
    content: "";
}

.header .header_menu{
    float:left;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:10px; /*делаем отступ сверху*/
    height: 35px; /*задаем высоту*/
}

.header .header_menu > li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
}

.header .header_menu a{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color:#fff; /*меняем цвет ссылок*/
    padding:0px 15px; /*добавляем отступ*/
    display: block;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.header .header_menu a:hover{
    color: lightgray;
}
.header .header_logo{text-align:center;width:75px;float: left; margin-top: -5px}

/* Главное меню */
.side_menu{background:#d1d1d1;
    height:calc(100vh - 55px);
    z-index: 997;
    margin-top:55px;
    min-width: 200px;
    max-width: 500px;
    position:relative;
    float:left;
    width: 20%;
}



/*Страница логина*/
.login-container {
    min-height: 90vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
}
.login {
    width: 390px;
    background: #f2f2f2;
    border-radius: 3px;
    position: relative;
}
.login-form {
    width: 100%;
}
.login-form-title {
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;

    width: 100%;
    display: block;
}
.grey-big-input-block {
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
}
.grey-big-input {
    line-height: 1.2;
    font-size: 18px;

    display: block;
    width: 100%;
    background: transparent;
    height: 62px;
    padding: 0 20px 0 38px;
    outline: none;
    border: none;
}
.grey-big-input::-webkit-input-placeholder { color: #8f8fa1;}
.grey-big-input:-moz-placeholder { color: #8f8fa1;}
.grey-big-input::-moz-placeholder { color: #8f8fa1;}
.grey-big-input:-ms-input-placeholder { color: #8f8fa1;}

.input-blue-focus{
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #0079c2;
    border-radius: 3px;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}
.grey-big-input:focus + .input-blue-focus-input100 {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.eff-focus-selection {
    visibility: visible;
    opacity: 1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.big-blue-button-block{
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.big-blue-button{
    outline: none !important;
    border: none;
    background: transparent;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 62px;
    background-color: #0079c2;
    border-radius: 3px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}
.big-blue-button:hover{
    cursor: pointer;
    background-color: #4391f1;
}
.validate-input {
    position: relative;
}
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 3px;
    padding: 4px 25px 5px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;

    font-family: Ubuntu-Regular;
    color: #c80000;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f12a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}


input[type=date] {
    /*width: 30%;*/
    /*padding: 12px 20px;*/
    /*margin: 8px 5px;*/
    box-sizing: border-box;
}


.tableItemInfoChart{
    width: 600px;
    height: 250px;
}

.hidden{
    display: none;
}
